 <div class="row"> 
     <div class="col-md-12 col-sm-12"> 
         <!-- BEGIN PORTLET--> 
         <div class="portlet solid"> 
             <div class="portlet-title"> 
<!--                 <div class="caption"> 
                     <i class="fa fa-bar-chart-o"></i>{[{ title }]} 
                 </div>
-->
             </div> 
             <div class="portlet-body">
                 <iframe frameBorder="0" data-ng-src="{[{ monitorUrl }]}" height="500" width="100%"></iframe>
             </div> 
         </div> 
         <!-- END PORTLET--> 
     </div> 
 </div> 

