<div class="row">
    <div class="col-md-12">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption font-green-sharp">
                </div>
            </div>
            <div class="portlet-body">
                <form role="form" id="supercode_submit_form" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group" ng-class="{'has-error': has_error}">
                            <label class="col-md-2 control-label"> {[{ 'supercode.old' | i18next }]}
                                <span class="required" aria-required="true">* </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-unlock-alt"></i>
                                    </span>

                                    <input type="password" class="form-control" name="old"
                                        ng-model="code.old" value="" class="required"
                                        onpaste="return false;" ondragenter="return false;"
                                        oncontextmenu="return false;"
                                        data-rule-minlength="8"
                                        data-rule-complexPassword="true"
                                        data-msg="{[{ 'user.invalid_password_tip' | i18next }]}"
                                        style="ime-mode:disabled"/>
                                </div>
                                <span ng-if="has_error" id="name-error" class="help-block help-block-error">
                                    {[{ 'supercode.old_incorrect' | i18next }]}
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label"> {[{ 'supercode.new1' | i18next }]}
                                <span class="required" aria-required="true">* </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </span>

                                    <input id="new1" type="password" class="form-control" name="old"
                                        ng-model="code.new1" value="" class="required"
                                        onpaste="return false;" ondragenter="return false;"
                                        oncontextmenu="return false;"
                                        data-rule-minlength="8"
                                        data-rule-complexPassword="true"
                                        data-msg="{[{ 'user.invalid_password_tip' | i18next }]}"
                                        style="ime-mode:disabled"/>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label"> {[{ 'supercode.new2' | i18next }]}
                                <span class="required" aria-required="true">* </span>
                            </label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="fa fa-pencil"></i>
                                    </span>

                                    <input id="new2" type="password" class="form-control" name="old"
                                        ng-model="code.new2" value="" class="required"
                                        onpaste="return false;" ondragenter="return false;"
                                        oncontextmenu="return false;"
                                        data-rule-equalTo="#new_password"
                                        data-msg="{[{ 'user.same_password_tip' | i18next }]}"
                                        style="ime-mode:disabled"/>
                                </div>
                            </div>
                        </div>

                    </div>
                </form>
                <div class="col-md-6">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary"
                            ng-click="submit()"
                            data-nap-after-click> {[{ 'submit' | i18next }]}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END MAIN CONTENT -->

